<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.mt">

    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!--&lt;!&ndash;使框架能够识别插件&ndash;&gt;-->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <!--插件的功能描述-->
        <meta-data
            android:name="xposeddescription"
            android:value="QQ Module" />
        <!--插件依赖的xposed api版本-->
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <activity android:name=".activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.android.mt.activity.money.TaobaoService"
            android:label="@string/taobao_service_name"
            android:persistent="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/taobao_service_config" />
        </service>


    </application>
</manifest>
